In [1]:
import os

if "src" not in os.listdir():
    os.chdir("../../../")

from src.lib.stock_dataset import read_stock_dataset
from src.lib.price_history import read_price_history, transform_price_history

In [2]:
history = read_price_history("SPY")
transformed = transform_price_history(history)

DATA LEN 567240

In [3]:
history.data

,open,high,low,close,volume,trades,vwap
time,,,,,,,
2015-12-01 09:04:00+00:00,209.43,209.43,209.43,209.43,470,2,209.430000
2015-12-01 09:05:00+00:00,209.35,209.35,209.32,209.32,1160,3,209.322586
2015-12-01 09:06:00+00:00,209.42,209.42,209.42,209.42,100,1,209.420000
2015-12-01 09:18:00+00:00,209.44,209.44,209.44,209.44,1000,1,209.440000
2015-12-01 09:19:00+00:00,209.43,209.43,209.42,209.43,800,4,209.427500
...,...,...,...,...,...,...,...
2021-09-17 23:55:00+00:00,440.19,440.38,440.19,440.38,11351,40,440.250219
2021-09-17 23:56:00+00:00,440.35,440.50,440.31,440.50,22543,124,440.415157
2021-09-17 23:57:00+00:00,440.50,440.83,440.50,440.64,23408,114,440.658138
2021-09-17 23:58:00+00:00,440.65,441.05,440.64,440.97,23687,165,440.818508
2021-09-17 23:59:00+00:00,441.00,441.25,440.85,440.91,38883,206,441.016162

In [4]:
new_history = history.fill_nan_candles().add_ta_indicators().trim_nan_rows()
new_history.data

DATA LEN 1136088

,open,high,low,close,volume,trades,vwap,oc_ret,pdiff_open,pdiff_high,pdiff_low,pdiff_vwap,ma_50,ma_200,rsi,macd,bbands_b,bbands_p
time,,,,,,,,,,,,,,,,,,
2015-12-01 14:00:00+00:00,209.32,209.34,209.31,209.31,30700,45,209.320228,-0.000048,0.000048,0.000143,0.000000,0.000049,0.000473,0.000439,43.368286,0.004251,0.020934,0.500000
2015-12-01 14:01:00+00:00,209.32,209.32,209.32,209.32,1100,6,209.320000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000411,0.000388,45.260749,0.005178,0.022286,0.671499
2015-12-01 14:02:00+00:00,209.34,209.36,209.34,209.36,1804,2,209.342262,0.000096,-0.000096,0.000000,-0.000096,-0.000085,0.000210,0.000198,52.148922,0.008324,0.033318,0.987508
2015-12-01 14:03:00+00:00,209.36,209.41,209.36,209.41,5860,18,209.385358,0.000239,-0.000239,0.000000,-0.000239,-0.000118,-0.000034,-0.000041,59.080475,0.013315,0.071083,0.943523
2015-12-01 14:05:00+00:00,209.39,209.39,209.38,209.38,1382,4,209.346295,-0.000048,0.000048,0.000048,0.000000,-0.000161,0.000100,0.000101,54.023855,0.014064,0.071079,0.661281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-17 23:55:00+00:00,440.19,440.38,440.19,440.38,11351,40,440.250219,0.000432,-0.000431,0.000000,-0.000431,-0.000295,-0.000242,0.000347,64.804793,0.009434,0.073504,0.997558
2021-09-17 23:56:00+00:00,440.35,440.50,440.31,440.50,22543,124,440.415157,0.000341,-0.000341,0.000000,-0.000431,-0.000193,-0.000511,0.000062,71.809099,0.025106,0.120184,0.906312
2021-09-17 23:57:00+00:00,440.50,440.83,440.50,440.64,23408,114,440.658138,0.000318,-0.000318,0.000431,-0.000318,0.000041,-0.000815,-0.000266,77.448037,0.042629,0.163557,0.866531
2021-09-17 23:58:00+00:00,440.65,441.05,440.64,440.97,23687,165,440.818508,0.000726,-0.000726,0.000181,-0.000748,-0.000344,-0.001537,-0.001022,85.042743,0.072423,0.238342,0.913340
2021-09-17 23:59:00+00:00,441.00,441.25,440.85,440.91,38883,206,441.016162,-0.000204,0.000204,0.000771,-0.000136,0.000241,-0.001378,-0.000896,79.781927,0.083290,0.207382,0.751671

In [5]:
(new_history.data.index[0] - history.data.index[0]).total_seconds()//60

296.0